<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gameofcards"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".JoinRoom"
            android:label="@string/app_name" >
        </activity>       
        <activity
            android:name=".bidding"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".riskyTrial"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".gameArena"
            android:label="@string/app_name" >
	</activity>
        
        <activity
            android:name=".aboutRules"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name="com.example.gameofcards.chooseTrump"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gameofcards.CHOOSETRUMP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.gameofcards.mainPage"
            android:label="@string/app_name" >
    	        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
                
        </activity>
 
    </application>

</manifest>